@using GeziLog.Models.Classes
@model List<Blog>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Bloglar</h2>
<br />
<table class="table table-bordered">
    <tr>
        <th> BLOG ID </th>
        <th> BLOG BAŞLIK </th>
        <th> BLOG SİL </th>
        <th> BLOG GÜNCELLE </th>
        <th> BLOG DETAYLARI </th>
    </tr>
    @foreach (var x in Model)
    {
<tr>
    <th> @x.ID </th>
    <th> @x.Title </th>
    <th> <a href="/Admin/DeleteBlog/@x.ID" class="btn btn-danger">Sil</a></th>
    <th> <a href="/Admin/GetBlog/@x.ID" class="btn btn-warning">Güncelle</a></th>
    <th> <a href="/Default/BlogDetails/@x.ID" class="btn btn-primary">Detaylar</a></th>
</tr>
    }
</table>

<a href="/Admin/NewBlog" class="btn btn-info">BLOG EKLE</a>

