<section class="w3l-breadcrumb py-5">
    <div class="container">
        <div class="header-section">
            <h3>İletişim</h3>
        </div>
    </div>
</section>
<!-- contact form -->
<section class="w3l-contact" id="contact">
    <div class="container py-5">
        <div class="contacts12-main py-md-3">
            <div class="header-section text-center">
                <h3 class="mb-md-5 mb-4">Formu doldurun</h3>
            </div>
            <form method="post">
                <div class="main-input">
                    <input type="text" name="Name" placeholder="Ad" class="contact-input" required="required" />
                    <input type="email" name="Mail" placeholder="Mail" class="contact-input" required="required" />
                    <input type="text" name="Subject" placeholder="Konu" class="contact-input" required="required" />
                    <textarea name="Message" placeholder="Mesaj" class="contact-textarea contact-input" required="required"></textarea>
                </div>
                <div class="text-right">
                    <input type="submit" value="GÖNDER" class="btn-primary btn theme-button" />
                </div>
            </form>
        </div>
    </div>
</section>
<!-- //contact form -->
